.App {
  min-height: 100vh;
  margin-top: 5%;
  background-color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 4rem; */
}
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
.title {
  font-weight: bold;
}
